{% extends 'Base.html' %}
{% block title %} Home {% endblock %}
{%block content%}
    <section class="u-clearfix u-section-1" id="sec-82d3">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-image u-image-default u-image-1" src="../static/images/7.svg" alt="" data-image-width="400" data-image-height="265">
        <h2 class="u-text u-text-default u-text-1">Sample Product</h2>
        <p class="u-text u-text-2">
          <span style="font-weight: 700;">$9,95</span>
        </p>
        <div class="fr-view u-clearfix u-rich-text u-text u-text-3">
          <h1 style="text-align: left;">
            <span style="font-size: 1.25rem;">
              <br>
            </span>
          </h1>
          <p style="text-align: left;">
            <span style="line-height: 2; font-size: 1.25rem;">&nbsp;Dictum non consectetur a erat nam at. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Tellus mauris a diam maecenas sed enim ut sem.&nbsp;</span>
          </p>
        </div>
        <a href="#" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-hover-white u-btn-1">ADD TO CARD</a>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-540f">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">Recommended For You</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <img alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="2000" data-image-height="1333" src="../static/images/8.svg">
                <a href="#" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-hover-white u-btn-1">View</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <img alt="" class="u-expanded-width u-image u-image-default u-image-2" data-image-width="2000" data-image-height="1333" src="../static/images/8.svg">
                <a href="#" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-hover-white u-btn-2">View</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <img alt="" class="u-expanded-width u-image u-image-default u-image-3" data-image-width="2000" data-image-height="1333" src="../static/images/8.svg">
                <a href="#" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-hover-white u-btn-3">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{%endblock%}